@font-face {
    font-family: 'RobotoRegular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'RobotoBoldCondensed';
    src: url('fonts/Roboto-BoldCondensed-webfont.eot');
    src: url('fonts/Roboto-BoldCondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-BoldCondensed-webfont.woff') format('woff'),
         url('fonts/Roboto-BoldCondensed-webfont.ttf') format('truetype'),
         url('fonts/Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldCondensedItalic';
    src: url('fonts/Roboto-BoldCondensedItalic-webfont.eot');
    src: url('fonts/Roboto-BoldCondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-BoldCondensedItalic-webfont.woff') format('woff'),
         url('fonts/Roboto-BoldCondensedItalic-webfont.ttf') format('truetype'),
         url('fonts/Roboto-BoldCondensedItalic-webfont.svg#RobotoBoldCondensedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('fonts/Roboto-Condensed-webfont.eot');
    src: url('fonts/Roboto-Condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Condensed-webfont.woff') format('woff'),
         url('fonts/Roboto-Condensed-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoThin';
    src: url('fonts/Roboto-Thin-webfont.eot');
    src: url('fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMedium';
    src: url('fonts/Roboto-Medium-webfont.eot');
    src: url('fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'wisdom_script_airegular';
    src: url('fonts/wisdom/wisdom_script-webfont.eot');
    src: url('fonts/wisdom/wisdom_script-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/wisdom/wisdom_script-webfont.woff') format('woff'),
         url('fonts/wisdom/wisdom_script-webfont.ttf') format('truetype'),
         url('fonts/wisdom/wisdom_script-webfont.svg#wisdom_script_airegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


h1 {
	font-family: "RobotoThin",sans-serif;
  font-style: normal;
  letter-spacing: -2px;
  font-weight: normal;
  font-size: 45px;
	color: #4f5256;
  line-height: 10px;
}


h2 {
	font-family: 'RobotoThin', sans-serif;
	font-size: 18px;
  font-weight: normal;
	color: #0099ff;
  line-height: 15px;
}

h3 {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 10pt;
   font-weight: 300;
   color: #f3f0f0;
   text-align: justify;
}


h4{

  font-family: "wisdom_script_airegular",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  color: #4f5256;
}


a {
   font-family: 'RobotoThin', sans-serif;
   font-size: 14pt;
   font-weight: normal;
   color: #fff;
   text-decoration: none;
}


a:link {color:#ffffff;}      /* unvisited link */

a:visited {color:#ffffff;}  /* visited link */

a:hover {color:#b7cce8;}  /* mouse over link */

a:active {color:#769dd0;}  /* selected link */

.slides_container a:hover {color:#fff;}  /* mouse over link */

p {
	font-family: 'RobotoCondensed', sans-serif;
	font-size: 11pt;
	color: #666666;
	text-align: justify;
  line-height: 25px;
}


ul li{
   font-family: arial;
   font-size: 14px;
   color: #ffffff;
   text-align: left;
   list-style: none;
}



html,
body {
   margin:0;
   padding:0;
   height:100%;
}


.wrapper {
   min-height:100%;
   width: 100%;
   /*background-color: #f3f3f3;*/
   background-image: url("images/stripes.png");
   background-repeat: repeat;
   margin-right: auto;
   margin-left: auto;
   margin-top: 0px;
   margin-bottom: -300px;
   position: relative;
}

.navtop {
   float: right;
   font-family: sans-serif;
   font-size: 10px;
   color: #000;
}

.nav {
   /*padding-top: -50px;*/
   float: left;
   padding-top: 50px;
   padding-left: 150px;
   width: 320px;
   height: 35px;
   z-index: 9000;
}


.header {
   background-image: url("images/header_2.png");
   background-repeat: no-repeat;
   background-color: #d1d2d3;
   background-position: center;
   margin-right: auto;
   margin-left: auto;
   height: 100px;
   /*padding: 0px;*/
   width: 100%;
   border-bottom: 5px solid;
   padding-bottom: 0px;
   border-color: #403c3c;
}


.content {
   /*background-color: #f3f3f3;*/
   width: 1125px;
   /*padding-top:25px;*/
   margin: 0 auto;
   padding-bottom: 80px;
   /*background-image: url("images/contentbg.png");*/
   background-repeat: no-repeat;
   /*padding-bottom:80px;   /* Height of the footer element */
   /*padding-top: 50px;*/
}

/*.welcome {
  width: 1120px;
  float: left;
}*/

.story {
   width: 510px;
   margin-right: auto;
   margin-left: auto;
   padding: 25px 15px 75px 15px;
   float: left;

}

.story_left {
   width: 500px;
   margin-right: auto;
   margin-left: auto;
   padding: 25px 20px 75px 20px;
   float: left;
   background-image: url("images/transparent.png");
   background-repeat: repeat;
}

.story_right {
   width: 500px;
   margin-right: auto;
   margin-left: auto;
   padding: 25px 20px 75px 20px;
   float: right;
   background-image: url("images/transparent.png");
   background-repeat: repeat;

}

#portfolio_fancybox {
   width: 1100px;
   margin: 0 auto;
   padding: 25px 0px 75px 0px;
}

#contact {
  width: 1100px;
  margin: 0 auto;
  padding: 25px 0px 75px 0px;
}

input {
  width: 450px;
  height: 50px;
  margin-bottom: 25px;
}

input[type=text] {
  font-family: "RobotoThin",sans-serif;
  font-style: normal;
  letter-spacing: 0px;
  font-weight: normal;
  font-size: 25px;
  color: #4f5256;
}

/* SLIDER STYLES START HERE */

#container {
   background-image: url("images/texturebg.png");
   background-repeat: no-repeat;
   /*background-color: #f3f3f3;*/
   width: 1125px;
   height: 450px;
   margin-right: auto;
   margin-left: auto;
   margin-top: auto;
   /*padding-left: 70px;*/
   position:relative;
   z-index:0;
}


/*
   Slideshow
*/

#slides {
   /*position:absolute;*/
   margin-right: auto;
   margin-left: auto;
   padding-top: 50px;
   top:50px;
   /*float: left;*/

}


/*
   Slides container
   Important:
   Set the width of your slides container
   Set to display none, prevents content flash
*/

.slides_container {
   width:1120px;
   /*padding-left: 0px;
   padding-top: 0px;*/
   margin-right: auto;
   margin-left: auto;
   overflow:hidden;
   position:relative;
   display:none;
}


/*
   Each slide
   Important:
   Set the width of your slides
   If height not specified height will be set by the slide content
   Set to display block
*/

.slides_container a {
   width:1100px;
   height:300px;
   padding: 0px 0px 0px 0px;
   margin-left: auto;
   margin-right: auto;
   display:block;
   border: 10px solid;
}

.slides_container a img {
   display:block;
   top: 500px;
}

.slideframe {
   /*padding-left: 50px;*/
   margin-top: 250px;
   /*margin-right: auto;
   margin-left: auto;*/
   position: relative;

}

/*
   Next/prev buttons
*/

#slides .next,#slides .prev {
   /*position:absolute;*/
   /*top:125px;
   left:-23px;
   width:24px;
   height:43px;*/
   /*padding-left: 50px;
   padding-right: 50px;*/
   position: relative;


   /*padding-left: 5%;*/
   padding-top: 30px;
   padding-left: 10px;
   padding-bottom: 20px;
   display:block;

   float: left;
   z-index:101;
}

#slides .next {
   /*left:1119px;*/
   padding-top: 30px;
   padding-right: 10px;
   padding-bottom: 20px;
   position: relative;
   float: right;
   z-index:101;
}

#slidenav {
   padding-right: 25%;
}

/*
   Pagination
*/

.pagination {
   margin:26px auto 0;
   width:100px;
}

.pagination li {
   float:left;
   margin:0 1px;
   list-style:none;
}

.pagination li a {
   display:block;
   width:12px;
   height:0;
   padding-top:12px;
   background-image:url('/images/slide/pagination.png');
   background-position:0 0;
   float:left;
   overflow:hidden;
}

.pagination li.current a {
   background-position:0 -12px;
}

/* END SLIDER STYLES */


.footer {
   width: 100%;
   background: #474849;
   margin-bottom: 300px;
   margin-right: auto;
   margin-left: auto;
   /*position: relative;*/
}

.footcontent {
   /*margin-right: auto;*/
   margin: 0 auto;
   padding-left: 500px;
}

.clearfooter {
   height: 300px;
   clear: both;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.clearfix {
   display: inline-block;
}

.social {
   margin: 0 auto;
   width: 225px;
   height: 40px;
   padding-top: 57px;
   padding-left: 880px;
   z-index: 2000;
}